 <!-- Navbar -->
 <div class="navbar navbar-fixed-top center">
 	<div class="navbar-inner">
 		<div class="container">
 			<a class="brand" href="#/page/home">Add Receipt</a>
 			<ul class="nav">
 				<li ng-class="{active: slug == 'add'}"><a href="#/receipts/add">Add</a></li>
 				<li ng-class="{active: slug == 'back'}"><a href="#/receipts/">Back</a></li>
 			</ul>
 		</div>
 	</div>
 </div>

 <form name="myForm">
 	Store Name: <input type="text" ng-model="form.storename" required/> <br/><br/>
 	Date: <input type="date" ng-model="form.receiptDate" required/> <br/><br/>
 	Shared Receipt: <input type="radio" ng-model="form.sharedReceipt" value = "1" ng-change="receiptPaid('receipt','1')">Yes
 	<input type="radio" ng-model="form.sharedReceipt" value = "0" ng-change="receiptPaid('receipt','0')">No<br/>
 	<!--Displays the items in the current newReceipt model-->
 	<label>Items:</label>
 	<div ng-repeat="item in form.items">
 		{{item.name}} - ${{item.cost}}[ <a href="" ng-click="removeItem($index)">X</a> ]
 	</div>

 	<!--Display input fields for adding details of each item to the newItem model-->
 	<div>Item Name: <input type="text" ng-model="newItem.name" /></div><br/>
 	<div>Quantity: <input type="number" ng-model="newItem.quantity" /></div><br/>
 	<div>Cost: <input type="text" ng-model="newItem.cost" /></div><br/>
 	<div>Shared: <input type="radio" ng-model="newItem.shared" value = "1" ng-change="receiptPaid('item','0')">Yes
 	<input type="radio" ng-model="newItem.shared" value = "0" ng-change="receiptPaid('item','1')">No</div><br/>

 	<!--Displays fields to add shared users to the item if the item is shared by someone else-->
 	<div ng-show="newItem.shared">
 		<label>User(s):</label>
 		<div ng-repeat="user in newItem.users">
 		<!--Displays the user(s) for the current shared item in newItem-->
 			<div>{{user}}[ <a href="" ng-click="removeItem($index)">X</a> ]</div>
 		</div>
 		<div>Shared User: <input type="text" ng-model="payer" /></div><br/>
 		[ <a href="" ng-click="addSharedUser(newItem,payer)">add this user</a> ]
 	</div>

 	[ <a href="" ng-click="addItem(newItem)">add item</a> ]
 	<br/>
 </form>
 
 <button ng-click="cancel()" >Cancel</button>
 <button ng-click="save()" >Save</button>

 <hr/>
 Debug View:
 <pre>form={{form}} payer ={{payer}}<br/>
 master={{master}}
 </pre>
