  <!doctype html>
  <html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>GetPaid</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
  </head>
  <body>
    <!-- Navbar -->
    <div class="navbar navbar-fixed-top center">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#/page/home">GetPaid</a>
          <ul class="nav">
            <li ng-class="{active: slug == 'add'}"><a href="#/page/add">Add</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class ="content"ng-controller = "MainPgCtrl">
      <!--displays dynamic generated list here-->
      <div ng-repeat="receipt in receipts">
      <div class="label">
        <div ng-click="receiptClicked({{receipt.id}})" id="{{receipt.id}}">
        <h5>{{receipt.store}}- {{receipt.amount}}</h5></div>
        </div>
      </div>
    </div>
  
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-route.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>